# Ignore node_modules (web app dependencies)
node_modules/

# Ignore virtual environment (if you have one)
venv/

# Ignore test logs and cache
test_log.txt
.pytest_cache/

# Ignore build folders
build/

# Ignore environment files (e.g., .env files)
.env

# Ignore compiled Python files
*.pyc

# Ignore all .log files
*.log
